.inline-block{
    display: inline-block;
    padding: 25px;
    margin: 0 auto;
}

.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}
.navigation{


}
.ul{
    width: 50%;
    margin-left: auto;

}

.content{
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.menu{
    vertical-align: top;
    padding: 25px;
    text-align: center;
    

}

.ul{
    width: 100%;
    display: table;
    text-align: center;

}


.heroImg{
    height: 900px;
    padding: 25px
}
.footer{
    background-color: #FC961F;
    padding: 10px;
}
.footerMenu{
    vertical-align: top;
    padding: 25px;

}
div{
    margin-left: auto;
    margin-right: 
}




