* {
    margin: 0;
    padding: 0;
}

.inline-block{
    display: inline-block;
    vertical-align: top;
}

.logo{
    width: 30%;
    padding: 1%;
    text-align: center;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
} 

nav ul { 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0;
   
}

#heroImg {
    background-color: #e3a96671; 
    display: flex; 
    justify-content: center;
}

.content{
    width: 500px;
    margin: 0 auto; 
    padding: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}

footer{
    background-color: #E3A966;
    padding: 10px;
    display: flex;
    justify-content: center;

} 

.footerMenu {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

footer ul {
    display: block;
    align-items: center;
    flex: wrap;
    width: 100%; 
    padding: 25px;
}





